<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.changhui.dao.BaseDictMapper">
  <resultMap id="BaseResultMap" type="com.changhui.pojo.BaseDict">
    <id column="dict_id" jdbcType="VARCHAR" property="dict_id" />
    <result column="dict_type_code" jdbcType="VARCHAR" property="dict_type_code" />
    <result column="dict_type_name" jdbcType="VARCHAR" property="dict_type_name" />
    <result column="dict_item_name" jdbcType="VARCHAR" property="dict_item_name" />
    <result column="dict_item_code" jdbcType="VARCHAR" property="dict_item_code" />
    <result column="dict_sort" jdbcType="INTEGER" property="dict_sort" />
    <result column="dict_enable" jdbcType="CHAR" property="dict_enable" />
    <result column="dict_memo" jdbcType="VARCHAR" property="dict_memo" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    dict_id, dict_type_code, dict_type_name, dict_item_name, dict_item_code, dict_sort, 
    dict_enable, dict_memo
  </sql>
  <select id="selectByExample" parameterType="com.changhui.pojo.BaseDictExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from springmvc.base_dict
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from springmvc.base_dict
    where dict_id = #{dict_id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from springmvc.base_dict
    where dict_id = #{dict_id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.changhui.pojo.BaseDictExample">
    delete from springmvc.base_dict
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.changhui.pojo.BaseDict">
    insert into springmvc.base_dict (dict_id, dict_type_code, dict_type_name,
      dict_item_name, dict_item_code, dict_sort, 
      dict_enable, dict_memo)
    values (#{dict_id,jdbcType=VARCHAR}, #{dict_type_code,jdbcType=VARCHAR}, #{dict_type_name,jdbcType=VARCHAR}, 
      #{dict_item_name,jdbcType=VARCHAR}, #{dict_item_code,jdbcType=VARCHAR}, #{dict_sort,jdbcType=INTEGER}, 
      #{dict_enable,jdbcType=CHAR}, #{dict_memo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.changhui.pojo.BaseDict">
    insert into springmvc.base_dict
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dict_id != null">
        dict_id,
      </if>
      <if test="dict_type_code != null">
        dict_type_code,
      </if>
      <if test="dict_type_name != null">
        dict_type_name,
      </if>
      <if test="dict_item_name != null">
        dict_item_name,
      </if>
      <if test="dict_item_code != null">
        dict_item_code,
      </if>
      <if test="dict_sort != null">
        dict_sort,
      </if>
      <if test="dict_enable != null">
        dict_enable,
      </if>
      <if test="dict_memo != null">
        dict_memo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dict_id != null">
        #{dict_id,jdbcType=VARCHAR},
      </if>
      <if test="dict_type_code != null">
        #{dict_type_code,jdbcType=VARCHAR},
      </if>
      <if test="dict_type_name != null">
        #{dict_type_name,jdbcType=VARCHAR},
      </if>
      <if test="dict_item_name != null">
        #{dict_item_name,jdbcType=VARCHAR},
      </if>
      <if test="dict_item_code != null">
        #{dict_item_code,jdbcType=VARCHAR},
      </if>
      <if test="dict_sort != null">
        #{dict_sort,jdbcType=INTEGER},
      </if>
      <if test="dict_enable != null">
        #{dict_enable,jdbcType=CHAR},
      </if>
      <if test="dict_memo != null">
        #{dict_memo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.changhui.pojo.BaseDictExample" resultType="java.lang.Long">
    select count(*) from springmvc.base_dict
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update springmvc.base_dict
    <set>
      <if test="record.dict_id != null">
        dict_id = #{record.dict_id,jdbcType=VARCHAR},
      </if>
      <if test="record.dict_type_code != null">
        dict_type_code = #{record.dict_type_code,jdbcType=VARCHAR},
      </if>
      <if test="record.dict_type_name != null">
        dict_type_name = #{record.dict_type_name,jdbcType=VARCHAR},
      </if>
      <if test="record.dict_item_name != null">
        dict_item_name = #{record.dict_item_name,jdbcType=VARCHAR},
      </if>
      <if test="record.dict_item_code != null">
        dict_item_code = #{record.dict_item_code,jdbcType=VARCHAR},
      </if>
      <if test="record.dict_sort != null">
        dict_sort = #{record.dict_sort,jdbcType=INTEGER},
      </if>
      <if test="record.dict_enable != null">
        dict_enable = #{record.dict_enable,jdbcType=CHAR},
      </if>
      <if test="record.dict_memo != null">
        dict_memo = #{record.dict_memo,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update springmvc.base_dict
    set dict_id = #{record.dict_id,jdbcType=VARCHAR},
      dict_type_code = #{record.dict_type_code,jdbcType=VARCHAR},
      dict_type_name = #{record.dict_type_name,jdbcType=VARCHAR},
      dict_item_name = #{record.dict_item_name,jdbcType=VARCHAR},
      dict_item_code = #{record.dict_item_code,jdbcType=VARCHAR},
      dict_sort = #{record.dict_sort,jdbcType=INTEGER},
      dict_enable = #{record.dict_enable,jdbcType=CHAR},
      dict_memo = #{record.dict_memo,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.changhui.pojo.BaseDict">
    update springmvc.base_dict
    <set>
      <if test="dict_type_code != null">
        dict_type_code = #{dict_type_code,jdbcType=VARCHAR},
      </if>
      <if test="dict_type_name != null">
        dict_type_name = #{dict_type_name,jdbcType=VARCHAR},
      </if>
      <if test="dict_item_name != null">
        dict_item_name = #{dict_item_name,jdbcType=VARCHAR},
      </if>
      <if test="dict_item_code != null">
        dict_item_code = #{dict_item_code,jdbcType=VARCHAR},
      </if>
      <if test="dict_sort != null">
        dict_sort = #{dict_sort,jdbcType=INTEGER},
      </if>
      <if test="dict_enable != null">
        dict_enable = #{dict_enable,jdbcType=CHAR},
      </if>
      <if test="dict_memo != null">
        dict_memo = #{dict_memo,jdbcType=VARCHAR},
      </if>
    </set>
    where dict_id = #{dict_id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.changhui.pojo.BaseDict">
    update springmvc.base_dict
    set dict_type_code = #{dict_type_code,jdbcType=VARCHAR},
      dict_type_name = #{dict_type_name,jdbcType=VARCHAR},
      dict_item_name = #{dict_item_name,jdbcType=VARCHAR},
      dict_item_code = #{dict_item_code,jdbcType=VARCHAR},
      dict_sort = #{dict_sort,jdbcType=INTEGER},
      dict_enable = #{dict_enable,jdbcType=CHAR},
      dict_memo = #{dict_memo,jdbcType=VARCHAR}
    where dict_id = #{dict_id,jdbcType=VARCHAR}
  </update>
</mapper>